body {
    background-color: #ffff;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
}
p {
   font-family: 'PT Serif', serif; 
    line-height: 1.5rem;
}

h3 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2.5rem;
}

.number {
    font-size: 3rem;
    font-family: 'PT Serif', serif;
}

.green {
    color:#66a900;
}

.grey {
   color:rgb(199, 199, 199);
}

.baner {
    height: 40rem;
    width: 100%;
    background: url(../img/images/baner.png);
    background-size: cover;
}

.menu-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding-top: 1.5rem;
}

.menu a {
    color:#ffff;
    text-decoration: none;
    margin-left: 3rem;
    font-size: 0.9rem;
}

.menu a:hover {
    color:#66a900;
}

.menu-text {
    margin-top: 12rem;
    padding-left: 0 !important;
    color:#ffff;
}

.menu-text h2 {
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 2px 16px rgba(0, 0, 0, 0.29);
    letter-spacing: 0.2rem;
    font-size: 2.4rem;
}

.yoga {
    height: 40rem;
}

.top-background {
    width:100%;
}

.yoga-text {
    margin-top:6rem;
}

.yoga-img {
    width:100%;
}

.list {
    padding-left:0;
}

.practise {
    margin-bottom: 5rem;
}

.list li {
    list-style-type: none;
    margin-bottom: 0.5rem;
    color:#999999;
    font-family: 'Poppins', sans-serif; 
}

.number-list {
    background: #66a900;
    display: inline-block;
    text-align: center;
    border-radius:50%;
    color:#ffff;
    width:2.5rem;
    height: 2.5rem;
    margin-right:1rem;
    padding-top: 0.5rem;
}

.regist {
    height: 16rem;
    background: url(../img/backgrounds/down.png);
    background-size: cover;
}

.regist-text h3 {
    letter-spacing: 0.5rem;
}

.regist-text {
    padding-top: 9rem;
    color:#ffff;
}

.regist-text p {
    font-family: 'Poppins', sans-serif;
}

.regist-text img {
    padding-top:1rem;
}

.regist button {
    color:#66a900;
    background: #ffff;
    font-size: 1rem;
    line-height: 2.3rem;
    padding-left: 1.8em;
    padding-right: 1.8em;
    
}
