/***********************               main style         *******/

body {
    background-color: #ffff;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    line-height: 0;
}

p {
   font-family: 'PT Serif', serif; 
    line-height: 1.5rem;
}

h3 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2.5rem;
}

.number {
    font-size: 3rem;
    font-family: 'PT Serif', serif;
}

.green {
    color:#66a900;
}

.grey {
   color:rgb(199, 199, 199);
}

.row {
    margin:0 !important;
}

/*********                           baner style     ************/

.baner {
    height: 40rem;
    width: 100%;
    background: url(../img/images/baner.png);
    background-size: cover;
}

.menu {
    padding-top: 1.5rem;
}

.mirror-logo {
    padding-right: 10rem;
}

.menu-icon {
    color:#ffff;
}

.menu a {
    color:#ffff;
    text-decoration: none;
    margin-left: 3rem;
    font-size: 0.9rem;
    transition: all .25s;
}

.menu a:hover {
    color:#66a900;
}

.menu-text {
    margin-top: 12rem;
    padding-left: 0 !important;
    color:#ffff;
}

.menu-text h2 {
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 2px 16px rgba(0, 0, 0, 0.29);
    letter-spacing: 0.2rem;
    font-size: 2.4rem;
}

.none {
    display: none;
}

/********                            yoga section style       ***/

.yoga {
    height: 36rem;
}

.top-background {
    width:100%;
}

.yoga-text {
    margin-top:6rem;
    margin-left: 8%;
}

.image {
    width:100%;
}

.list {
    padding-left:0;
}

/********                       practise section style   ********/

.practise {
    margin-bottom: 3rem;
}

.practise-text {
    margin-top:2rem;
}

.list {
    line-height: 1.8rem;
}
.list li {
    list-style-type: none;
    margin-bottom: 0.7rem;
    color:#999999;
    font-family: 'Poppins', sans-serif; 
}

.number-list {
    background: #66a900;
    display: inline-block;
    text-align: center;
    border-radius:50%;
    color:#ffff;
    width:2.5rem;
    height: 2.5rem;
    margin-right:1rem;
    padding-top: 0.5rem;
}

/******                        registration section style   *****/

.regist {
    height: 16rem;
    background: url(../img/backgrounds/down.png);
    background-size: cover;
}

.regist-text h4 {
    letter-spacing: 0.12rem;
}

.regist-text {
    padding-top: 9rem;
    color:#ffff;
}

.regist-text p {
    font-family: 'Poppins', sans-serif;
}

.regist-text img {
    padding-top:1rem;
}

.regist-btn {
    color:#66a900;
    background: #ffff;
    font-size: 1rem;
    line-height: 2.3rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    transition: all .25s;
}

.regist-btn:hover {
    border:1px solid #66a900;
}

/********                                  us section     *******/

.us {
    margin-top:3rem;
    margin-bottom: 5rem;
}

.us-text {
    margin-left: 8%;
    margin-top: 2rem;
}

.us-text > p {
    margin-bottom: 2rem;
}

.us-list ul {
    padding-left: 1rem !important;
    list-style-image: url(../img/icon/icon-check.png);
}

.us-list h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.us-list p {
    color:rgb(199, 199, 199);
    font-family: 'PT Serif', serif;
    font-size: smaller;
}

.us img {
    width:100%;
    margin-top: 2rem;
}

/******                               speeches section       ****/

.speeches {
    height: 17rem;
}

.client {
    height:17rem;
}

.carousel-imgages {
    position: relative;
    width:32rem;
}

.previous-img {
    position:absolute;
    left: 0;
    top:2rem;
    opacity:0.3;
    height:13rem;
}

.active-img{
    position:absolute;
    left: 10rem;
    z-index:2;
}

.active-img-one {
    position:absolute;
    left: 8rem;
    z-index:2;
}

.active-img-three {
    position:absolute;
    left: 8rem !important;
    z-index:2;
}

.next-img {
    position:absolute;
    right: 0;
    top:2rem;
    opacity:0.3;
    height: 13rem;
}

.next-img-one {
    position:absolute;
    right: -5rem;
    top:2rem;
    opacity:0.3;
    height: 13rem;
}

.caros-btn {
    background-color:#000000;
    border-radius: 50%;
    border:none;
    height: 1.5rem;
    width: 1.5rem;
    z-index:3;
    transition: all .25s;
}

.caros-btn:hover {
    background-color: #66a900;
}

.caros-icon {
    color:#ffff;
    font-size: 1.2rem;
    padding:auto;
    margin:auto;
}

.prev {
    position: absolute;
    left:2rem;
    top:8rem;
}

.next {
    position: absolute;
    right:6rem;
    top:8rem;
}

.speeches-text {
    margin-left: 2rem;
    line-height: 1.8rem;
}

.hidde {
    display:none;
}

/**********                                 pricing section *****/

.pricing {
    margin-top: 7rem;
}

.pricing-text {
    margin-left: 8%;
    margin-bottom: 2rem;
}

.pricing-box {
    width:90%;
    height: 23rem;
    background-color: #ffff;
    border:none;
    -webkit-box-shadow: 0px 12px 38px 0px rgba(0, 0, 0, 0.11);
            box-shadow: 0px 12px 38px 0px rgba(0, 0, 0, 0.11);
    border-radius: 3%;
    padding:0;
}

.pricing-box h5{
    font-family: 'Poppins', sans-serif;
    font-size:2.5rem;
    font-weight: bold;
}

.pricing-box p {
    font-family: 'PT Serif', serif;
}

.pricing-box-plan {
    width:100%;
    height: 3rem;
    border:none;
    border-left: 3px solid #66a900;
    border-right: 3px solid #66a900;
    
}

.pricing-box-grey {
    background-color: #f6f6f6;
    color:#aaaaaa;
}

.pricing-box-green {
    background-color: #66a900;
    color:#ffff;
}

.pricing-box div > p {
    padding-top: 0.7rem;
    font-family: 'Poppins', sans-serif !important;
    margin: auto;
}

.pricing-box-order {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 0.1rem;
}

.pricing-box-order-hover{
    color:#66a900 !important;
    border-bottom: 1px solid #66a900;
}

.pricing-box-text {
    width:90%;
    margin:auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/***********                           second regist section ****/

.regist2 {
    height: 25rem;
    z-index:-1;
    position: relative;
    top:-15rem;
}

.regist-text2 {
    padding-top: 18rem;
}

/********                                   footer    **********/

.footer {
    position: relative;
    top:-7rem;
}

.footer-logo {
    margin-left:8%;
}

.footer-logo img {
    width:auto;
}

.footer-copyrigth {
    color:#9e9e9e;
}

.nav-footer{
    margin-left: 5rem;
    line-height: 2rem;
}

.nav-footer li {
    padding-right: 1rem;
}

.nav-footer a {
    color:#9e9e9e;
}








