@media (min-width:1500px) {
    
    .image {
        width:auto;
        }

}

/**********                        1200px breakpoint      *******/

@media (max-width:1200px) {
    
    .mirror-logo {
        padding-right: 3rem;
    }

    .yoga {
        height: 30rem;
    }
    
    .yoga-text {
        margin-left:0;
    }
    
    .yoga-img {
        height:80%;
        margin-top: 5rem;
    }
    
    .regist-text img {
        width: 95%;
    }
    
    .us-text {
        margin-left: 0;
    } 
    
    .us img {
        margin-top: 5rem;
    }
    
    .next {
        position: absolute;
        right:2rem;
        top:8rem;
    }
    
    .carousel-imgages {
        position: relative;
        width:29rem;
    }
    
    .active-img{
        position:absolute;
        left: 9rem;
    }

    .active-img-one {
        position:absolute;
        left: 6rem;
    }

    .active-img-three {
        position:absolute;
        left: 6rem !important;
    }
    
    .pricing-text {
        margin-left: 3%;
    }
}

/*********                        992px breakpoint      ********/

@media (max-width:992px) {
    
    .menu-li {
        line-height: 1rem;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    
    .yoga {
        height: 40rem;
    }
    
    .yoga-text {
        margin-top:2rem;
    }
    
    .yoga-img {
        height:100%;
        margin-top: 0;
    }
    
    .practise-text {
        position: relative;
        top:-15rem;
    }
    
    .practise-img {
        position: relative;
        top:22rem;
    }
    
    .regist-text {
        padding-top: 7rem;
    }
    
    .us {
        margin-top:0rem;
    }
    
    .us img {
        margin-top: 0;
    }
    
    .carousel-imgages {
        position: relative;
        top:12rem;
    }
    
    .prev {
        position: absolute;
        left:2rem;
        top:20rem;
    }

    .next {
        position: absolute;
        right:3rem;
        top:20rem;
    }
    
    .pricing {
        margin-top: 14rem;
    }
    
    .pricing-box {
        width:100%;
        height: 19rem;
        margin-bottom: 2rem;
    }
    
    .regist-text2 {
        padding-top: 15rem;
    }
    
    .footer-logo {
        margin-left:50%;
    }
    
    .footer-copyrigth {
        margin-top: 1rem;
    }
    
    .nav-footer{
        margin-left: 0;
    }  
}

/*****                            768px breakpoint     *********/

@media (max-width:768px) {
    
    .baner {
        height: 35rem;
    }

     .yoga {
        height: 37rem;
    }
    
    .image {
        height: 80%;
        width: auto;
    }
    
    .practise-text {
        position: relative;
        top:-23rem;
    }
    
    .practise-img {
        position: relative;
        top:25rem;
    }
    
    .carousel {
        margin-left: 2rem;
    }
    
    .carousel-imgages {
        position: relative;
        top:14rem;
    }
    
    .prev {
        position: absolute;
        left:2rem;
        top:20rem;
    }

    .next {
        position: absolute;
        right:0rem;
        top:20rem;
    }
    
     .footer-logo {
        margin-left:30%;
    }
}

/*****                            576px breakpoint     *********/

@media (max-width:576px) {
    .baner {
        height: 20rem;
    }
    
    .menu-text {
        margin-top: 0.5rem;
    }
    
    .menu-text h2 {
        font-size: 2rem;
    }
    
    .yoga {
        height:40rem;
    }
    
    .yoga-img {
        position: relative;
        top:-3rem;
        z-index: -1;   
    }
    
    .image {
        width:80%;
        height: auto;
        margin-left: 10%;
    }
    
    .practise {
        height: 38rem;
    }
    
    .practise-img {
        position: relative;
        top:18rem;
    }
    
    .practise-text {
        position: relative;
        top:-23rem;
    }
    
    .practise-img {
        position: relative;
        top:20rem;
    }
    .list li {
        line-height: 2rem;
    }
    .number-list {
        padding-top: 0.4rem;
    }
    
    .us {
        height: 52rem;
    }
    
    .regist {
        height: 20rem;
        background: url(../img/backgrounds/down.png);
        background-size: cover;
    }
    
    .carousel-imgages {
        position: relative;
        width:10rem;
    }
    .previous-img {
        display: none;
    }

    .active-img{
        position:absolute;
        left: 4rem;
    }

    .active-img-one {
        position:absolute;
        left: 0;
    }

    .active-img-three {
        position:absolute;
        left: 0 !important;
    }

    .next-img {
        display: none;
    }

    .next-img-one {
        display: none;
    }

    .prev {
        position: absolute;
        left:2rem;
        top:20rem;
    }

    .next {
        position: absolute;
        right:2rem;
        top:20rem;
    }
    
    .regist2 {
        height: 27rem;
        position: relative;
        top:-15rem;
    }
    
    .regist-btn {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    
    .regist-arrow {
        display: none;
    }

    
   
}